[Desktop Entry]
Name=KC505
GenericName=Amateur Radio Data Encapsulation
Comment=Amateur Radio Communications
Exec=KC505
Icon=KC505
Terminal=false
Type=Application
Categories=Network;HamRadio;
