[Desktop Entry]
Name=kcat
GenericName=Amateur Radio Data Encapsulation
Comment=Amateur Radio Communications
Exec=kcat
Icon=kcat
Terminal=false
Type=Application
Categories=Network;HamRadio;
